<%= form_for(blog) do |f| %>
  <% if blog.errors.any? %>
    <% blog.errors.full_messages.each do|error| %>
      <%= alert_generator error%>
    <% end %> 
  <% end %>

  <div class="form-group">
  
    <%= f.text_field :title, class: 'form-control', placeholder: "title" %>
  </div>
  <div class="form-group">
    <%= f.label :topic_id %>

    <%= f.collection_select(:topic_id, Topic.all, :id, :title,
                              {
                                
                                  selected: blog.topic,
                                  include_blank: true
                                
                                
                              },
                              class: 'form-control'
                            )
    %>
  </div>
  <div class="form-group">
    <%= f.radio_button :Status, 'draft' %>
    <%= f.label :Status, 'Draft' %>

    <%= f.radio_button :Status, 'published' %>
    <%= f.label :Status, 'Published' %>
  </div>
  <div class="form-group">

    <%= f.text_area :Body, class: 'form-control',rows: 15, placeholder: "body" %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>
