<div>
      <div> <%=link_to "home", root_path%> </div>
      <div> <%=link_to "about me", about_me_path%> </div>
      <div> <%=link_to "contact", contact_path%> </div>
      <div> <%=link_to "Blog", blogs_path%> </div>
      <div> <%=link_to "Portfolio", portfolios_path%> </div>

    </div>